# Data Science Tools and Ecosystem

## Introduction:
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
- Python
- R
- Java
- Scala:
- Java

Lenguages:
Some of the popular languages that Data Scientists use are:
1. Phyton
2. SQL
3. R

Data science libraries
Some of the commonly used libraries used by Data Scientists include:
   1. scikit-learn
   2. NumPy
   3. Pandas

### Table of Data Science tools
| x.DataScienceTools |
| ------------------ |
| RStudio |
| Apache Zeppelin |
| JupyterNotebook |

### Below are a few examples of evaluating arithmetic expressions in Python

Example:
```python
10*10
10-10
20+10
100-10
```

In [19]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [20]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Carlos Pineda